target
*.log
*.iml
pom.xml
.idea
.lein-repl-history
.nrepl-port
.planck_cache
opts.clj
curriculum/ideating.clj
cljs-runtime
*.DS_Store
maria-editor/node_modules
**/resources/public/js/cljs_live_bundles
**/resources/public/js/compiled
**/resources/public/css
**/checkouts
**/.cljs_live_planck_cache
**/test-target/public/js
**/.cljs_rhino_repl/
**/.firebaserc