target
*.log
*.iml
pom.xml
.idea
node_modules
resources/public/js/compiled
resources/public/css
checkouts
.cljs_live_planck_cache
.lein-repl-history
.nrepl-port
.planck_cache
opts.clj
/.cljs_rhino_repl/
/doc/ideating.clj
