*.log
*.iml
pom.xml**
.idea
.planck_cache
opts.clj
*.DS_Store
node_modules
**/cljs-runtime
**/compiled**
**/bootstrap
**/.firebaserc
**/.cpcache/**
**.shadow-cljs
package-lock.json
**.firebase
**/public/*.html
**/public/css
**/public/js
.nrepl-port