{:lein true
 :builds
 {:cell-tests
  {:target     :browser
   :output-dir "test-cells/public/js"
   :asset-path "js"
   :modules    {:cells {:entries [cells.cell-tests]}}
   :devtools   {:after-load cells.cell-tests/start}}
  :live
  {:target     :browser
   :output-dir "resources/public/js/compiled"
   :asset-path "/js/compiled"
   :modules    {:live {:entries [maria.frames.live-frame]}}
   :devtools   {:autoload true}}
  :trusted
  {:target     :browser
   :output-dir "resources/public/js/compiled"
   :asset-path "/js/compiled"
   :optimizations :simple
   :modules    {:live {:entries [maria.frames.trusted-frame]}}
   :devtools   {:autoload true}}}}