{:dependencies
 [[org.clojure/core.match "0.3.0-alpha4"]
  [org.clojure/tools.reader "1.0.5"]
  [com.cognitect/transit-cljs "0.8.239"]
  [com.cognitect/transit-clj "0.8.300"]
  [com.stuartsierra/dependency "0.2.0"]

  [fast-zip "0.7.0"]

  [re-view "0.3.28-SNAPSHOT"]
  [re-view-routing "0.1.3"]
  [re-view-prosemirror "0.1.8"]
  [cljs-live "0.2.6-SNAPSHOT"]
  [magic-tree "0.0.12-SNAPSHOT"]
  [org.clojure/data.json "0.2.6"]

  [cljsjs/codemirror "5.19.0-0"]
  [cljsjs/react "16.0.0-beta.2-0"]
  [cljsjs/react-dom "16.0.0-beta.2-0"]
  ;[cljsjs/firebase "4.2.0-0"]
  ]

 :source-paths
 ["src" "test"]

 :builds
 {:cells-test
  {:target     :browser
   :output-dir "test-cells/public/js"
   :asset-path "js"
   :modules    {:cells {:entries [cells.tests]}}
   :devtools   {:after-load cells.tests/start}}
  :live
  {:target     :browser
   :output-dir "resources/public/js/compiled"
   :asset-path "/js/compiled"
   :modules    {:live {:entries [maria.frames.live-frame]}}
   :devtools   {:autoload true}}
  :trusted
  {:target     :browser
   :output-dir "resources/public/js/compiled"
   :asset-path "/js/compiled"
   :modules    {:live {:entries [maria.frames.trusted-frame]}}
   :devtools   {:autoload true}}}}