.gap-list {
    @apply gap-[4px]
}

svg {
    display: inline-block;
}
.ProseMirror {
    @apply m-4 p-0 text-xl font-serif;
}
pre, h1, h2, h3, h4 {
    @apply mb-4;
}

.ProseMirror > *:not(div) {
    @apply md:w-1/2 leading-relaxed;

}

.cm-content {
    @apply p-4 bg-white
}

h1 {@apply text-4xl;}
h2 {@apply text-[1.6rem];}
.font-serif {
    font-family: georgia, times, serif;
    @apply font-normal;
}

.cell-status {
    display: inline-block;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    margin: 1px;
    padding: 4px;
    background-color: rgba(0, 0, 0, .05)
}

.circle-error, .circle-loading {
    width: 16px;
    height: 16px;
    position: relative;
    display: inline-block
}

.circle-error > div, .circle-loading > div {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0
}

.circle-loading > div {
    opacity: .6;
    -webkit-animation: sk-bounce 3s infinite ease-in-out;
    animation: sk-bounce 3s infinite ease-in-out;
    background-color: #357edd
}

.circle-loading > div:nth-child(2) {
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

@-webkit-keyframes sk-bounce {
    0%, to {
        -webkit-transform: scale(0)
    }
    50% {
        -webkit-transform: scale(1)
    }
}

@keyframes sk-bounce {
    0%, to {
        transform: scale(0);
        -webkit-transform: scale(0)
    }
    50% {
        transform: scale(1);
        -webkit-transform: scale(1)
    }
}

.circle-error > div {
    background-color: darkred;
    border-radius: 0;
    -webkit-transform: rotate(45deg) scale(.75);
    transform: rotate(45deg) scale(.75)
}

.interpose-comma > *:not(:last-child)::after {
    content: ", ";
    align-self: end;
}