{:deps {}
 :tasks
 {dev (shell "yarn shadow-cljs -A:local watch editor")
  server (shell "yarn shadow-cljs -A:local server")
  copy-curriculum (shell "cp -r src/main/maria/curriculum public")
  css (shell "npx tailwindcss -i src/maria.cloud.css -o public/maria.cloud.css")
  release (do (run 'copy-curriculum)
              (shell "yarn shadow-cljs release editor --debug")
              (prn :public (shell "ls public"))
              (run 'css))
  debug (shell "yarn shadow-cljs release editor --debug")}}