{:deps {}
 :tasks
 {stop (shell "yarn shadow-cljs stop")
  start (shell "yarn shadow-cljs -A:local server")
  watch (shell "yarn shadow-cljs -A:local watch editor")
  release (shell "yarn shadow-cljs release editor")
  debug (shell "yarn shadow-cljs release editor --debug")}}