{:paths ["src/main"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.60"}
        thheller/shadow-cljs {:mvn/version "2.20.1"}
        applied-science/js-interop {#_#_:mvn/version "0.3.3"
                                    :git/url "https://github.com/applied-science/js-interop"
                                    :git/sha "9fe3de8d88bc9f356a846d3e5ba4fb3b20b7bddf"}
        nextjournal/clojure-mode {:git/url "https://github.com/nextjournal/clojure-mode"
                                  :git/sha "2720bd140ac8625890d558b6748b09a17a7214e2"}
        com.teknql/shadow-cljs-tailwind-jit {:mvn/version "1.0.0"}
        #_#_org.babashka/sci {:mvn/version "0.5.34"}
        org.babashka/sci {:mvn/version "0.7.39"
                          #_#_#_#_:git/url "https://github.com/babashka/sci"
                          :git/sha "50557c964d44533aa2d61ae7519d252ea83df24b"}
        io.github.babashka/sci.configs {:git/sha "bf8d209e4aeabb92cb1be04e3d8f789583d5f449"}
        funcool/promesa {:mvn/version "10.0.571"}
        com.lucasbradstreet/cljs-uuid-utils {:mvn/version "1.0.2"}
        com.taoensso/encore {:mvn/version "3.32.0"}
        kibu/pushy {:mvn/version "0.3.8"}

        maria/tools {:local/root "../tools"}
        maria/shapes {:local/root "../shapes"}
        maria/friendly {:local/root "../friendly"}

        io.github.applied-science/shapes {:git/sha "da44031cf79a649932cb502f17388db23f2b8ace"}
        io.github.mhuebert/re-db {:git/sha "05d16d9e09bcba39907ff7c33a4db51a9b1fc819"}
        io.github.mhuebert/yawn {:git/sha "080be2a6a20663726e2b5d65113cf8a9c94377cd"}}
 :aliases
 {:build {:extra-paths ["src/build"]}
  :local {:extra-deps {#_#_io.github.babashka/sci {:local/root "../../sci"}
                       applied-science/js-interop {:local/root "../../js-interop"}
                       nextjournal/clojure-mode {:local/root "../../clojure-mode"}
                       io.github.mhuebert/yawn {:local/root "../../yawn"}
                       io.github.mhuebert/re-db {:local/root "../../re-db"}}}}}
