{:paths ["src/main"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.60"}
        thheller/shadow-cljs {:mvn/version "2.20.1"}
        reagent/reagent {:mvn/version "1.1.1"}
        applied-science/js-interop {#_#_:mvn/version "0.3.3"
                                    :git/url "https://github.com/applied-science/js-interop"
                                    :git/sha "d4c7bbcfd37c1418855e3c794fb0cd9adb6ad5a3"}
        nextjournal/clojure-mode {:git/url "https://github.com/nextjournal/clojure-mode"
                                  :git/sha "9516d08a6a3f69f59bdda032c255e5535e46a217"}
        mhuebert/re-db {:git/url "https://github.com/mhuebert/re-db"
                        :git/sha "5b682571945d0e88de64376bcb3cc16504e9bf16"}
        maria/tools {:local/root "../tools"}
        com.teknql/shadow-cljs-tailwind-jit {:mvn/version "1.0.0"}}
 :aliases
 {:local {:extra-deps {applied-science/js-interop {:local/root "../../js-interop"}
                       nextjournal/clojure-mode {:local/root "../../clojure-mode"}}}}}
