{:paths ["src"
         "test"]
 :deps {org.clojure/clojure {:mvn/version "1.10.0"}
        org.clojure/clojurescript {:mvn/version "1.10.520"}

        org.clojure/data.json {:mvn/version "0.2.6"}
        org.clojure/test.check {:mvn/version "0.10.0-alpha2"}
        org.clojure/spec.alpha {:mvn/version "0.1.143"}

        ;; user fun
        maria/friendly {:local/root "../friendly"}
        maria/shapes {:local/root "../shapes"}
        maria/cells {:local/root "../cells"}

        ;; utils
        chia {:local/root "../../chia"}
        lark/tools {:local/root "../../lark/tools"}
        mhuebert/cljs-static {:local/root "../cljs-static"}
        appliedscience/js-interop {:mvn/version "0.1.11"}

        ;; 3rd party utils
        com.lucasbradstreet/cljs-uuid-utils {:mvn/version "1.0.2"}
        fast-zip {:mvn/version "0.7.0"}
        bidi {:mvn/version "2.1.5"}
        cider/cider-nrepl {:mvn/version "0.16.0"}}

 :aliases {:release
           {:override-deps
            {chia {:git/url "https://github.com/mhuebert/chia"
                   :sha "69e85a2c637f8d8be92dd7b3fab69b81af0019df"}
             lark/tools {:git/url "https://github.com/braintripping/lark.git"
                         :sha "04d471f661ff04c115e6960e8e09c6597a624d51"
                         :deps/root "tools"}
             mhuebert/cljs-static {:git/url "https://github.com/mhuebert/cljs-static"
                                   :sha "9b71dafc6bb1cb43115b1a9a3e020cb8b1259ac4"}}}}}
