{:deps {org.clojure/core.match {:mvn/version "0.3.0-alpha4"}
        com.lucasbradstreet/cljs-uuid-utils {:mvn/version "1.0.2"}
        org.clojure/data.json {:mvn/version "0.2.6"}
        org.clojure/test.check {:mvn/version "0.10.0-alpha2"}
        org.clojure/spec.alpha {:mvn/version "0.1.143"}
        fast-zip {:mvn/version "0.7.0"}
        bidi {:mvn/version "2.1.3"}
        maria/friendly {:mvn/version "0.1.0"}
        maria/shapes {:mvn/version "0.1.0"}
        re-view {:mvn/version "0.4.6"}
        re-view/prosemirror {:mvn/version "0.2.2"}
        lark/tools {:mvn/version "0.1.26"}
        lark/cells {:mvn/version "0.1.7"}}}