{:source-paths ["src"
                "test"
                "../../lark/tools/src"
                "../../lark/cells/src"
                "../shapes/src"
                "../../re-view/re_view/src"]
 :dependencies [[org.clojure/core.match "0.3.0-alpha4"]
                [com.lucasbradstreet/cljs-uuid-utils "1.0.2"]
                [org.clojure/data.json "0.2.6"]
                [org.clojure/test.check "0.10.0-alpha2"]
                [org.clojure/spec.alpha "0.1.134"]
                [fast-zip "0.7.0"]

                [maria/friendly "0.1.0"]
                [maria/shapes "0.1.0"]

                [re-view "0.4.3"]
                [re-view/prosemirror "0.2.2"]

                [lark/tools "0.1.25"]
                [lark/cells "0.1.7"]]

 :nrepl        {:port 7888}

 :builds
               {:tests
                {:target     :browser
                 :output-dir "test-target/public/js"
                 :asset-path "js"
                 :modules    {:tests {:entries [maria-tests.runner]}}
                 :devtools   {:after-load maria-tests.runner/run-tests}}

                :live
                {:target     :browser
                 :release    {:compiler-options {:optimizations :simple
                                                 :language-in   :ecmascript5}}
                 :output-dir "resources/public/js/compiled"
                 :asset-path "/js/compiled"
                 :modules    {:shadow-live {:entries [maria.frames.live-frame]}}
                 :devtools   {:http-root     "resources/public"
                              :http-handler  shadow.http.push-state/handle
                              :http-port     8701
                              :after-load    maria.frames.live-frame/render
                              :async-require true}}
                :bootstrap
                {:target     :bootstrap
                 :output-dir "resources/public/js/bootstrap"
                 :entries    [maria.user]
                 :exclude    [cljs.js]}
                :trusted
                {:target     :browser
                 :output-dir "resources/public/js/compiled"
                 :asset-path "/js/compiled"
                 :modules    {:shadow-trusted {:entries [maria.frames.trusted-frame]}}
                 :devtools   {:autoload      true
                              :async-require true}
                 :compiler-options
                             {:externs ["node_modules/firebase/externs/firebase-app-externs.js"
                                        "node_modules/firebase/externs/firebase-auth-externs.js"
                                        "externs/react.ext.js"
                                        "externs/reactDom.ext.js"]}}}}