{:source-paths ["src"
                "test"]
 :lein         true
 :dependencies [[org.clojure/core.match "0.3.0-alpha4"]
                [com.cognitect/transit-cljs "0.8.239"]
                [com.cognitect/transit-clj "0.8.300"]
                [com.lucasbradstreet/cljs-uuid-utils "1.0.2"]
                [org.clojure/data.json "0.2.6"]

                [fast-zip "0.7.0"]

                [maria/friendly "0.1.0-SNAPSHOT"]
                [maria/shapes "0.1.0"]

                [re-view "0.3.33"]
                [re-view-routing "0.1.3"]
                [re-view-prosemirror "0.1.10-SNAPSHOT"]
                [cljs-live "0.2.9-SNAPSHOT"]

                [lark/value-viewer "0.1.2"]
                [lark/cells "0.1.5"]

                [lark/commands "0.2.2-SNAPSHOT"]
                [lark/structure "0.1.5-SNAPSHOT"]
                [lark/editors "0.1.3-SNAPSHOT"]
                [lark/tree "0.1.3-SNAPSHOT"]]
 :nrepl        {:port 7888}
 :builds
               {:tests
                {:target     :browser
                 :output-dir "test-target/public/js"
                 :asset-path "js"
                 :modules    {:tests {:entries [maria-tests.runner]}}
                 :devtools   {:after-load maria-tests.runner/run-tests}}

                :live
                {:target           :browser
                 :compiler-options {:optimizations :simple}
                 :output-dir       "resources/public/js/compiled"
                 :asset-path       "/js/compiled"
                 :modules          {:shadow-live {:entries [#_shadow-init.init
                                                            maria.frames.live-frame]}}
                 :devtools         {:http-root    "resources/public"
                                    :http-handler shadow.http.push-state/handle
                                    :http-port    8701
                                    :after-load   maria.frames.live-frame/render}
                 :js-options       {:resolve {"codemirror"  {:target :global
                                                             :global "CodeMirror"}
                                              "markdown-it" {:target :global
                                                             :global "markdownit"}}}}
                :bootstrap
                {:target     :bootstrap
                 :output-dir "resources/public/js/bootstrap"
                 :entries    [maria.user
                              cljs.spec.alpha]
                 :exclude    [cljs.js]
                 :js-options {:resolve {"codemirror"  {:target :global
                                                       :global "CodeMirror"}
                                        "markdown-it" {:target :global
                                                       :global "markdownit"}}}}
                :trusted
                {:target        :browser
                 :output-dir    "resources/public/js/compiled"
                 :asset-path    "/js/compiled"
                 :optimizations :simple
                 :modules       {:shadow-trusted {:entries [maria.frames.trusted-frame]}}
                 :devtools      {:autoload true}
                 :compiler-options
                                {:externs ["node_modules/firebase/externs/firebase-app-externs.js"
                                           "node_modules/firebase/externs/firebase-auth-externs.js"
                                           "externs/react.ext.js"
                                           "externs/reactDom.ext.js"]}}}}