{:paths ["src"]
 :deps  {org.clojure/clojure                 {:mvn/version "1.10.0"}
         org.clojure/clojurescript           {:mvn/version "1.10.520"}
         appliedscience/js-interop           {:mvn/version "0.1.20"}
         com.lucasbradstreet/cljs-uuid-utils {:mvn/version "1.0.2"}
         chia                                {:git/url "https://github.com/mhuebert/chia.git"
                                              :sha     "da6ceb2989b712ab59c654679e1eb7b2e4c6ef02"}}

 :aliases
        {:test
         {:extra-paths ["test"]}}}