@import "vendor/et-book.styl"
@import "vendor/tachyons.styl"
@import "vendor/codemirror.styl"

html, body, #maria
  height 100%
.CodeMirror
  height 100%
  padding 1rem
  pre
    padding 0
.CodeMirror, .code, code, pre
  font-family 'Source Code Pro', monospace
  font-size 14px
  //background transparent !important