@import "vendor/et-book.styl"
@import "vendor/tachyons.styl"
@import "vendor/codemirror.styl"

html, body, #maria
  height 100%
div.CodeMirror
  height 100%
  padding 1rem
  pre
    padding 0
  span.CodeMirror-matchingbracket
    font-weight bold
    color black
  .CodeMirror-evalRegion
    background rgba(0,0,0,0.1)
.CodeMirror, .code, code, pre
  font-family 'Source Code Pro', monospace
  font-size 14px
